/* ============================================== */
/*                Default properties              */
/*     font-size: 16px;                           */
/*     font-style: normal;                        */
/*     font-weight: 400;                          */
/*     letter-spacing: normal;                    */
/*     line-height: 1.15;                         */
/* ============================================== */

/* ------------------- VAR ----------------------- */
:root {
  --hover-color: #404bbf;
  --title-color: #2e2f42;
  --body-color: #434455;
  --logo-color: #4d5ae5;
  --maintitle-color: #fff;
  --section-color: #f4f4fd;
  --border-color: #e7e9fc;
  --icon-color: #8e8f99;
  --popup-color: #fcfcfc;
  --modal-color: rgba(46, 47, 66, 0.4);
  --iconhover-color: #31d0aa;
}
/*  -------------------  /var  ------------------- */
/* =============================================== */
/* =================== GEOMETRY ================== */
/* =============================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* приховуємо заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  /* тимчасово */
  /* outline: 2px solid red; */
}

.header-main {
  border-bottom: 1px solid var(--border-color);
}

.header-menu-ul {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.header {
  display: flex;
  /* gap: 332px; */
}

.header-navigation {
  display: flex;
  align-items: center;
  /* gap: 76px; */
}

/* =================================================== */
/*                       GENERAL                       */
/* =================================================== */
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
  background-color: #fff;
}

.links {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.section-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* ===================================================*/
/*                    HEADER                          */
/* ================================================== */
.header-main {
  min-width: 320px;
  /* height: 70px;  */
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  /* outline: 1px solid #ec450d; */
}

/* .header {
  padding: 24 0;
} */

@media screen and (min-width: 768px) {
  .header-main {
    min-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .header-main {
    min-width: 1158px;
  }
}

.header-link-logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .header-link-logo {
    margin-right: 76px;
  }
}

.span-logo {
  color: var(--title-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-menu-ul,
  .address {
    display: none;
  }
}

.mobile-menu-list {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  list-style-type: none;
  margin-bottom: 40px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .header-link-menu {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 24px 0;
  }
}

/* псевдоелемент */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .current {
    color: var(--hover-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--hover-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .header-link-address {
    color: var(--body-color);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .address {
    font-style: normal;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
}

/*  ----------------  Normalization -------------------- */
@media screen and (min-width: 1158px) {
  .header-link-menu:hover,
  .header-link-menu:focus {
    color: var(--hover-color);
  }

  .header-link-address:hover,
  .header-link-address:focus {
    color: var(--hover-color);
  }

  .button-order-service:hover,
  .button-order-service:focus {
    background-color: var(--hover-color);
  }
}
/* -------------------- /Normalization ------------------  */
/* =================== /header =====================*/

/* ====================== MAIN ===================== */

/* Section 1 */
.section-one {
  background-color: var(--title-color);
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
}

.main-title {
  color: var(--maintitle-color);
  text-align: center;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button-order-service {
  background-color: var(--logo-color);

  color: var(--maintitle-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section 2 */
.section-description {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-item {
  max-width: 396px;
  width: 100%;
  /* width: calc((100%-24px * 3) / 4); */
}

/* svg - description*/
.description-svg-items {
  display: none;
}

.dscr-titles {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  color: var(--body-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

/* Section 3 */
.section-what-are-we {
  display: none;
}

/* Section 4 */
.section-four {
  background: var(--section-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four-list {
  background: var(--maintitle-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-four-list-title {
  color: var(--title-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-four-list-paragraph {
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraph-box {
  padding: 32px 0;
}

.social-media-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-media-li {
  width: 40px;
  height: 40px;
}
.icon-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--section-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-media-link:hover,
.icon-media-link:focus {
  background-color: var(--hover-color);
}
.icon-social-media {
  fill: var(--section-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------ Section 5 Mobile ----------------------- */
.section-customer {
  padding: 96px 16px;
}

.customer-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customer-list {
  border-radius: 4px;
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.customer-links {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-links:hover,
.customer-links:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.icon-customers {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

/* ------------------------/main -------------------------*/

/* =================== PORTFOLIO ==================== */

.button-portfolio {
  color: var(--logo-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: var(--section-color);
  cursor: pointer;

  padding: 12px 24px;

  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  display: block;
  width: auto;
  border: 1px solid var(--border-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
  color: var(--maintitle-color);
  font-family: "Roboto", sans-serif;
  background: var(--hover-color);
  border: 1px solid transparent;
}

.ul-portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.links-portfolio {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-portfolio:hover,
.links-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.section {
  padding: 96px 0 120px;
}

.portfolio-list-view {
  width: 360px;
}

.title-portfolio {
  /* Geometry */
  margin-bottom: 8px;
}

.ul-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-ietm-box {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

/* ===================================================== */
/*                       POP_UPS                         */
/* ===================================================== */
.backdrops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-color);
  flex-shrink: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* scale */
  /* transition: opacity 400ms linear visibility 400ms linear; */
}

.modal {
  min-height: 584px;
  width: 408px;

  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--popup-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ------------------------ дз 5 ---------------------- */
  padding: 72px 24px 24px;

  /* Scale */
  /* transform: scale(1); */
}

/* Scale */
/* .backdrops.is-hidden .modal {
  transform: scale(0.4);
  transition-delay: 400ms;
} */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  /* Scale */
  /* transition-delay: 400ms; */
}

.modal-close-btn {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--border-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--hover-color);
  border: none;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--maintitle-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------- 5дз ------------------------*/
.modal-p {
  color: var(--title-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-form-box {
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
}

.comments-container {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--modal-color);
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--logo-color);
}

.modal-input:focus + .form-icon,
.modal-input:hover + .form-icon {
  fill: var(--logo-color);
}

/* temporary*/
.modal-input::placeholder {
  color: var(--modal-color); /* temporary*/
  font-size: 12px;
}
/* /temporary*/

.modal-input-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--modal-color);
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-comment:focus,
.modal-input-comment:hover {
  border-color: var(--logo-color);
}

.modal-input-comment::placeholder {
  color: var(--modal-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: absolute;
  top: 8px;
  left: 16px;
}

.modal-input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Label */
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--icon-color);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* checkbox */
.modal-checkbox-consent {
  color: var(--icon-color);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  display: block;
}

.checkbox-custom {
  border: 1px solid var(--modal-color);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox:checked + .modal-checkbox-consent > .checkbox-custom {
  background-color: var(--hover-color);
  border: none;
  fill: var(--section-color);
}

.privacy-policy {
  color: var(--logo-color);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* Submit */
.button-send-form {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--maintitle-color);
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button-send-form:hover,
.button-send-form:focus {
  background-color: var(--hover-color);
}
/*  -----------  / дз 5 ------------- */
/* ====================================================== */
/*                     overlay                           */
/* ====================================================== */
.box {
  position: relative;
  overflow: hidden;
}

.links-portfolio:hover .overlay-p,
.links-portfolio:focus .overlay-p {
  transform: translateY(0);
}

.overlay-p {
  position: absolute;
  color: var(--section-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  font-size: 16px;
  padding: 40px 32px;
  background-color: var(--logo-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================================================== */
/* =======================================================*/

/* ------------   MEDIA  -------------------   */

@media screen and (max-width: 320px) {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }

  .section-description {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 16px;
  }

  .features-item {
    max-width: 356px;
    width: 100%;
    /* width: calc((100%-24px * 3) / 4); */
    width: calc((100% - 24px) / 2);
  }

  /* ------------------ Section 5 Tab ----------------------- */

  .section-customer {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 584px;
    margin: 0 auto;
  }

  .icon-customers {
    width: 104px;
  }

  .customer-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .customer-list {
    border-radius: 4px;
    height: 88px;

    width: calc((100% - 48px) / 3);
  }

  .customer-links {
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customer-links:hover,
  .customer-links:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
  }

  .icon-customers {
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    width: 100%;
    padding: 0 15px;
    /* тимчасово */
    /* outline: 2px solid red; */
  }

  .section-description {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    /* justify-content: center; */
    padding: 0;
  }

  .features-item {
    max-width: 264px;
    width: 100%;
    width: calc((100% - 24px * 3) / 4);
    /* тимчасово */
    /* outline: 1px solid rgb(12, 183, 46); */
  }

  /* svg - description*/
  .description-svg-items {
    border-radius: 4px;
    background-color: var(--section-color);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dscr-titles {
    color: var(--title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-start;
  }

  .description {
    color: var(--body-color);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    font-size: 16px;
  }

  /* Section 3 */
  .section-what-are-we {
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
  }

  .section-three-list-item {
    width: calc((100% - 48px) / 3);
  }

  /* ------------------ Section 5 desk top ----------- */
  .section-customer {
    padding-top: 120px;
    padding-bottom: 120px;
    min-width: 1128px;
  }

  .customer-list {
    width: calc((100% - 120px) / 6);
  }
}

/* MOBILE menu */
.menu-toggle {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  fill: var(--title-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--maintitle-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
